<div class="contact-main-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 offset-lg-1 col-md-12 order-1 order-lg-2">
                <div class="contact-page-side-content">
                    <h3 class="contact-page-title">Контакты</h3>
                    <p class="contact-page-message">
                        Интернет-магазин шин, дисков, аккумуляторов и автосервисные центры.Вся информация на данном сайте несёт исключительно информационный характер и ни при каких условиях не является публичной офертой,
                        определяемой положениями Статьи 437 (2) ГК РФ.
                    </p>
                    <div class="single-contact-block">
                        <h4><i class="fa fa-fax"></i> Адрес</h4>
                        <p>Тверская улица, дом 13</p>
                    </div>
                    <div class="single-contact-block">
                        <h4><i class="fa fa-phone"></i> Телефон</h4>
                        <p>8 955 555 35 35</p>
                    </div>
                    <div class="single-contact-block last-child">
                        <h4><i class="fa fa-envelope-o"></i> Почта</h4>
                        <p>yourmail@domain.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>